<%
function w(num) {
  return " ".repeat(num);
}

function getImpDcl(type) {
  const from = type === "frontend" ? "$lib/arch/api/Api": "@api/Api" ;
  const model = `${entityNmPascal}Model`;
  const idModel = compIdFields ? `, ${entityNmPascal}idModel` : "";
  return `import type { ${model}${idModel} } from "${from}";`;
}

function getImpDclIdType(type) {
  const from = type === "frontend" ? "$lib/arch/api/Api": "@api/Api" ;
  return `import type { ${entityNmPascal}idModel } from "${from}";`;
}

tscom = {
  idType: compIdFields ? entityNmPascal + "idModel" : (idField.javaType === "Integer" ? "number" : "string"),
  idObj: compIdFields ? `id: {} as ${entityNmPascal}idModel` : "",
  nonIdFields: fields.filter((field) => !field.id),
  impDclF:  getImpDcl("frontend"),
  impDclE2e: getImpDcl("e2etest"),
  impDclIdTypeF:  getImpDclIdType("frontend"),
  impDclIdTypeE2e: getImpDclIdType("e2etest"),

  fieldToProp: function(field, num = 6) {
    const fieldType = field.javaType;
    const t = w(num);
  
    if (fieldType === "String") {
      return `${t}${field.fieldName}: StringUtils.generateRandomString()`;
    } else if (fieldType === "Integer") {
      return `${t}${field.fieldName}: NumberUtils.generateRandomNumber()`;
    } else if (fieldType === "java.time.LocalDate") {
      return `${t}${field.fieldName}: DateUtils.generateRandomLocalDate()`;
    } else if (fieldType === "java.time.LocalDateTime") {
      return `${t}${field.fieldName}: DateUtils.generateRandomLocalDateTime()`;
    } else if (fieldType === "Boolean") {
      return `${t}${field.fieldName}: BooleanUtils.generateRandomBoolean()`;
    } else {
      console.log(`Skip to generate for field type: ${fieldType}`);
    }
  },

  fieldsToProps: function(fields, num = 6) {
    return fields
      .map((field) => this.fieldToProp(field, num))
      .filter((property) => property)
      .join(",\n");
  },

  dataType: function(javaType) {
    const typeMap = {
      'Integer': 'number',
      'String': 'string',
      'java.time.LocalDate': 'date',
      'java.time.LocalDateTime': 'date',
      'Boolean': 'boolean'
    };
    return typeMap[javaType] || 'string';
  },

  generateFormHTML: function(entityNmCamel, fields, compIdFields) {
    let formHTML = `<form use:form>`;

    fields.forEach(field => {
      if (compIdFields && field.id) {
        compIdFields.forEach(compIdField => {
          formHTML += `
  <div>
    <InputField id="${compIdField.fieldName}" label={$t('msg.label.${entityNmCamel}.${compIdField.fieldName}')} bind:value={${entityNmCamel}.id.${compIdField.fieldName}} />
  </div>`;
        });
      } else {
        if (field.javaType === 'Integer') {
          formHTML += `
  <div>
    <InputField type='number' id="${field.fieldName}" label={$t('msg.label.${entityNmCamel}.${field.fieldName}')} bind:value={${entityNmCamel}.${field.fieldName}} />;
  </div>`
        } else if (field.javaType === 'String' && field.stringLength <= 128) {
          formHTML += `
  <div>
    <InputField id="${field.fieldName}" label={$t('msg.label.${entityNmCamel}.${field.fieldName}')} bind:value={${entityNmCamel}.${field.fieldName}} />;
  </div>`
        } else if (field.javaType === 'String') {
          formHTML += `
  <div>
    <TextArea id="${field.fieldName}" label={$t('msg.label.${entityNmCamel}.${field.fieldName}')} bind:value={${entityNmCamel}.${field.fieldName}} />;
  </div>`
        } else if (field.javaType === 'java.time.LocalDate') {
          formHTML += `
  <div>
    <InputField type="date" id="${field.fieldName}" label={$t('msg.label.${entityNmCamel}.${field.fieldName}')} bind:value={${entityNmCamel}.${field.fieldName}} />;
  </div>`
        } else if (field.javaType === 'java.time.LocalDateTime') {
          formHTML += `
  <div>
    <InputField type="datetime-local" id="${field.fieldName}" label={$t('msg.label.${entityNmCamel}.${field.fieldName}')} bind:value={${entityNmCamel}.${field.fieldName}} />;
  </div>`
        } else if (field.javaType === 'Boolean') {
          formHTML += `
  <div>
     <CheckBox id="${field.fieldName}" label={$t('msg.label.${entityNmCamel}.${field.fieldName}')} bind:checked={${entityNmCamel}.${field.fieldName}} />;
  </div>`
        } else {
          formHTML += `
  <div>
    <SelectBox id="${field.fieldName}" label={$t('msg.label.${entityNmCamel}.${field.fieldName}')} bind:value={${entityNmCamel}.${field.fieldName}} options={[]} ${field.multiple ? 'multiple' : ''} />;
  </div>`
        }
      }
    });

    formHTML += `
  <div>
    <button id="save" type="submit">{actionBtnLabel}</button>
  </div>
</form>`;
    return formHTML;
  },
}

tscom.idProperty = compIdFields
      ? `id: {\n${tscom.fieldsToProps(compIdFields, 8)}\n${w(6)}},`
      : "";

%>