.DS_Store
.gitignore.archetype
/archetype.properties

node_modules
target

svqk-back/.env

svqk-container/.env

svqk-e2etest/.env
svqk-e2etest/playwright-report
svqk-e2etest/test-results
svqk-e2etest/dry_run_logs

svqk-front/build
svqk-front/.svelte-kit
svqk-front/package
svqk-front/.env
svqk-front/.env.*
svqk-front/!.env.example
svqk-front/vite.config.js.timestamp-*
svqk-front/vite.config.ts.timestamp-*

svqk-scaff/generators/app/index.d.ts
svqk-scaff/generators/app/index.js
svqk-scaff/generators/app/index.js.map
svqk-scaff/src/main/resources/jeg-metadata.json
