.DS_Store
.gitignore.archetype
/archetype.properties

node_modules
target

/svqk.code-workspace

svqk-backend/.env

svqk-container/.env

svqk-e2etest/.env
svqk-e2etest/playwright-report
svqk-e2etest/test-results
svqk-e2etest/dry_run_logs

svqk-frontend/build
svqk-frontend/.svelte-kit
svqk-frontend/package
svqk-frontend/.env
svqk-frontend/.env.*
svqk-frontend/!.env.example
svqk-frontend/vite.config.js.timestamp-*
svqk-frontend/vite.config.ts.timestamp-*
svqk-frontend/src/lib/paraglide

svqk-generator/generators/app/lib/*.js
svqk-generator/generators/app/lib/*.js.map
svqk-generator/generators/app/*.js
svqk-generator/generators/app/*.js.map
svqk-generator/generators/app/index.d.ts
svqk-generator/src/main/resources/jeg-metadata.json
